$orange: #FE6D00;

form.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    
    background-color: #fff;
    color: #000;
    border: 1px solid $orange;
    
    z-index: 10;

    h1 {

    }

    input {
        display: block;
        margin: 20px 0;
        border: 1px solid $orange;
        padding: 5px 15px;
        font-size: 1.5rem;

        &:focus {
            outline: none;
        }
    }

    button {
        background-color: #fff;
        border: 2px solid $orange;
        color: $orange;
        padding: 5px 15px;
        font-size: 1.5rem;

        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            color: #fff;
            background-color: $orange;
        }
    }
}