.movie-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    button {
        display: block;
        color: blue;
    }
}

@media (max-width: 500px) {
    .movie-cards {
        flex-wrap: nowrap;
    }
}