.home {
    padding-top: 85px;

    &>h1 {
        font-size: 3rem;
    }

    .see-more {
        button {
            color: #000;
            text-decoration: none;
            font-size: 1.5rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            margin: 20px 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}