.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    &>a {
        cursor: pointer;
        height: 85px;
    }

    ul {
        list-style: none;

        li.nav__item {
            display: inline-block;
            margin-right: 40px;

            border-bottom: 4px solid transparent;
            border-top: 4px solid transparent;

            &>* {
                cursor: pointer;
            }

            a {
                display: inherit;
                padding: 20px 0;
                color: #fff;
                text-decoration: none;
            }
        }
    }

    i {
        display: none;
        font-size: 3rem;
        margin-right: 20px;
        cursor: pointer;
    }
}

@media (max-width: 900px) {
    .nav {
        ul {
            display: none;
        }

        i {
            display: block;
        }
    }
}

@media (max-width: 500px) {
    .nav {

        &>a {
            text-align: left;
            height: 65px;

            img {
                width: 75%;
                margin: 0 auto;
            }
        }

        i {
            font-size: 2rem;
        }
    }
}